/* styles.css */

body {
    margin: 0;
    padding: 0;
    background :whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    opacity: 0.9;
  }
  